name: Sheepit Blender Render 2

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      username:
        description: 'Username'
        required: true
      password:
        description: 'Password'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  render:
    # The type of runner that the job will run on
    runs-on: macos-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22198.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22198.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text

  mp1:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22092.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22092.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text
      
  mp2:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22092.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22092.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text
    
  mp3:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22092.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22092.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text

  mp4:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22092.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22092.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text
      
  mp5:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    
    - name: Java Installation
      run: sudo apt-get install java-common default-jre-headless ffmpeg
      
    - name: Shell Update
      run: sudo apt update
      
    - name: Library remove
      run: sudo apt remove libtcmalloc-minimal4
      
    - name: Library install
      run: sudo apt install libtcmalloc-minimal4
      
    - name: Blender Libarary
      run: sudo apt install libboost-all-dev
        
    - name: Blender Libarary
      run: sudo apt install libgl1-mesa-dev
        
    - name: Blender Libarary
      run: sudo apt install libglu1-mesa libsm-dev
      
    - name: Download Client
      run: wget https://www.sheepit-renderfarm.com/media/applet/sheepit-client-6.22092.0.jar
    
    - name: Create cache directory
      run: mkdir ./content
      
    - name: Render
      run: java -jar sheepit-client-6.22092.0.jar -ui oneLine/text -compute-method CPU -login ${{ github.event.inputs.username }} -password ${{ github.event.inputs.password }} -ui text
    
